{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_instablog-layout' %}

{% set params = { section: 'instaBlog' } %}
{% set next = entry.getNext(params) %}
{% set prev = entry.getPrev(params) %}

{% block blogBody %}
    <p>
      {% if prev %}
      <a href="{{ prev.url }}"><< Previous</a>
      {% endif %}        
      {% if next %}
      <a href="{{ next.url }}">Next >></a>
      {% endif %}        
    </p> 

  <article itemscope itemtype="http://schema.org/Article" class="row">
      <header>
        <h3 class="text-purple"><a href="/blog">BACK TO BLOG</a></h3>
        <hr>
        <p>
          <span itemprop="datePublished" class="date-published"><strong>{{ entry.postDate.format('F d, Y') }}</strong></span>       
        </p>
        <h1 itemprop="name">{{ entry.title }}</h1>
      </header>
      <div itemprop="articleBody" class="article-body">
        {% if entry.instaBlogImage | length %}
          <img class="featured-image" src="{{ entry.instaBlogImage | first.url }}">
        {% endif %}
        {{ entry.instaBlogBody }}
      </div>
      <hr>
      <footer>
        <p class="text-purple"><strong>For more eye-opening tips, follow me on social. </strong></p>
        <ul>
          <li class="social"><a class="icon-instagram" target="_blank" href="{{ siteInfo.facebook }}"></a></li>
          <li class="social"><a class="icon-facebook" target="_blank" href="{{ siteInfo.youtube }}"></a></li>
          <li class="social"><a class="icon-twitter" target="_blank" href="{{ siteInfo.instagram }}"></a></li>
          <li class="social"><a class="icon-linkedin" target="_blank" href="{{ siteInfo.instagram }}"></a></li>
        </ul>
      </footer>
  </article>
{% endblock %}
{% block blogAside %}
  <aside>
    <p>
      <strong>AUTHOR</strong>
      <br>
      <span class="text-purple" itemprop="author">
        <a href="/blog/author/{{ entry.author.username }}" rel="author">{{ entry.author.fullName }}</a>
      </span>
    </p>
    <hr>
    <p>
      <strong>Tags: </strong>
      <br>
      {% for tag in entry.instaBlogTags %}
      <a class="text-purple" href="/blog/tag/{{ tag.title|split(' ')|join('-')|lower }}">{{ tag.name }}</a>
      {% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
    <hr>
    {% include 'blog/_share.twig' %}
    <hr>
    {% include 'blog/_aside.twig' %}
  </aside>
{% endblock %}

