{% set queryString = query is defined ? '?q=' ~ query : '' %}
  {% if entries|length %}
    {% for blog in entries %}
      <article itemtype="http://schema.org/Article" class="blog-search-entry">
        <header>
          <p itemprop="datePublished" class="date-published text-wide"><strong>{{ blog.postDate.format('F d, Y') }}</strong></p>
          <h4><a href="/{{ blog.uri }}" itemprop="name">{{ blog.title }}</a></h4>
          <a href="/blog/author/{{ blog.author.username }}" rel="author">{{ blog.author.fullName }}</a>
        </header>
        <div itemprop="articleBody" class="blog-article-body">
          {{ blog.instaBlogBody|striptags|truncate(240) }}
        </div>
        <p>
          Category:<span>
          {% for category in blog.instaBlogCategories %}
            <a href="{{ category.url }}">{{ category.title }}</a>
          {% endfor %}
          </span>
        </p>
      </article>
      <hr>
    {% endfor %}

      <nav>
        {# Customize Pagination links Ref: http://buildwithcraft.com/docs/templating/paginate #}
          {% if paginate.prevUrl %}
            <a href="{{ paginate.firstUrl ~ queryString }}">First</a>
            <a href="{{ paginate.prevUrl ~ queryString }}"><<</a>
          {% endif %}

          {% for page, url in paginate.getPrevUrls(5) %}
              <a href="{{ url ~ queryString }}">{{ page }}</a>
          {% endfor %}
          {% if (paginate.prevUrl) or (paginate.nextUrl) %}
            <span class="current">{{ paginate.currentPage }}</span>
            {% for page, url in paginate.getNextUrls(5) %}
                <a href="{{ url ~ queryString }}">{{ page }}</a>
            {% endfor %}
          {% endif %}
          {% if paginate.nextUrl %}
            <a href="{{ paginate.nextUrl ~ queryString }}">>></a>
            <a href="{{ paginate.lastUrl ~ queryString }}">Last</a>
          {% endif %}
      </nav>
  {% endif %}