{% set queryString = query is defined ? '?q=' ~ query : '' %}
  {% if entries|length %}
    {% for blog in entries %}
      <article itemtype="http://schema.org/Article" class="blog-home-entry">
        <div class="row no-gap">
          {% set backgroundImage = blog.instaBlogImage|length == 0 ? "" : " background: url(" ~  blog.instaBlogImage|first.url ~ ") no-repeat #000; background-size: cover; background-position: 50% 50%" %}
          <div class="col-xs-5 entry-left" style="{{ backgroundImage }}"></div>
          <div class="col-xs-7">
            <div itemprop="articleBody" class="entry-right">
              <p itemprop="datePublished" class="date-published text-wide"><strong>{{ blog.postDate.format('F d, Y') }}</strong></p>
              <h4>{{ blog.title }}</a></h4>

              <p class="desktop-tablet-only">{{ blog.instaBlogBody|striptags|truncate(120) }}</p>
              <p class="more text-wide"><a href="/{{ blog.uri }}"><strong>READ POST ></strong></a></p>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}
  {% endif %}