{{ blog.blogIntro }}
<h3 class="blog-latest-post-header text-wide">LATEST POSTS</h3>
{% set queryString = query is defined ? '?q=' ~ query : '' %}
  {% if entries|length %}
    {% for blog in entries %}
      <article itemtype="http://schema.org/Article" class="blog-home-entry">
        <div class="row no-gap">
          {% set backgroundImage = blog.instaBlogImage|length == 0 ? "" : " background: url(" ~  blog.instaBlogImage|first.url ~ ") no-repeat #000; background-size: cover; background-position: 50% 50%" %}
          <div class="col-xs-5 entry-left" style="{{ backgroundImage }}"></div>
          <div class="col-xs-7">
            <div itemprop="articleBody" class="entry-right">
              <p itemprop="datePublished" class="date-published text-wide"><strong>{{ blog.postDate.format('F d, Y') }}</strong></p>
              <h4>{{ blog.title }}</a></h4>

              <p class="desktop-tablet-only">{{ blog.instaBlogBody|striptags|truncate(120) }}</p>
              <p class="more text-wide"><a href="/{{ blog.uri }}"><strong>READ POST ></strong></a></p>
            </div>
          </div>
        </div>
      </article>
    {% endfor %}

      <nav>
        {# Customize Pagination links Ref: http://buildwithcraft.com/docs/templating/paginate #}
          {% if paginate.prevUrl %}
            <a href="{{ paginate.firstUrl ~ queryString }}">First</a>
            <a href="{{ paginate.prevUrl ~ queryString }}"><<</a>
          {% endif %}

          {% for page, url in paginate.getPrevUrls(5) %}
              <a href="{{ url ~ queryString }}">{{ page }}</a>
          {% endfor %}
          {% if (paginate.prevUrl) or (paginate.nextUrl) %}

            <span class="current">{{ paginate.currentPage }}</span>

            {% for page, url in paginate.getNextUrls(5) %}
                <a href="{{ url ~ queryString }}">{{ page }}</a>
            {% endfor %}
          {% endif %}

          {% if paginate.nextUrl %}
            <a href="{{ paginate.nextUrl ~ queryString }}">>></a>
            <a href="{{ paginate.lastUrl ~ queryString }}">Last</a>
          {% endif %}
      </nav>
  {% endif %}