{% set shareTitle = blog.title is defined ? blog.title : entry.title %}
{% set shareUrl = blog.url is defined ? blog.url : craft.request.url %}
{% set shareProtocol = craft.request.isSecure ? 'https://' : 'http://' %}
{% set shareDomain = 'http' in shareUrl ? '' : shareProtocol ~ craft.request.serverName %}
{% set shareLink = shareDomain ~ shareUrl %}

<h4 class="text-wide">SHARE THIS POST </h4>
<p class="blog-share">
  <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{shareLink}}"></a>
  <a class="icon-twitter" href="https://twitter.com/home?status={{shareLink}}"></a>
  <a class="icon-google-plus" href="https://plus.google.com/share?url={{shareLink}}"></a>
  <a class="icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{shareLink}}&title={{shareTitle}}&summary=&source="></a>
  <a class="icon-mail-alt" href="mailto:?subject={{shareTitle}}&body={{shareLink}}"></a>
</p>