{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% set pages = craft.entries.section('pages') %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="description" value="{% block metaDescription %}{{ seo.metaDescription }}{% endblock %}">

  <meta name="google-site-verification" content="1Djs-1-zWByyLacEHYfM7DIZzBUBP8nK6zSQvDz5Bik" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ seo.metaTitle }}</title>

	<link rel="home" href="{{ siteUrl }}" />
  <link rel="shortcut icon" href="../favicon.ico">
  {% cache for 3 weeks %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/vendor/hamburgers/hamburgers.css" />
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}/js/vendor/modernizr.custom.js"></script>
	<link rel="stylesheet" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/site.css">
  {% endcache %}
	<!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
{% cache for 3 weeks %}
  <nav id="mp-menu" class="mp-menu">
    {# <div class="mp-level">
      <div class="mobile-top text-white">
        {% block mobileLogo %}
        <a href="#hero"><span class="mobile-logo icon-icons_logo_horizontal"></span></a>
        {% endblock %}
        <a href="#" id="trigger" class="hamburger hamburger--collapse menu-trigger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>
      </div> #}
      <div class="row middle-xs">
        <div class="col-xs-2">
          <a href="/"><img src="{{siteInfo.logo|first.url}}" alt="Body By Robbie"></a>
        </div>
        <div class="col-xs-10">
          <ul>
            {% block nav %}
            <li><a href="#about">About</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#workouts">Workouts</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a class="btn" href="#contact">Book Online</a></li>
          {% endblock %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
{% endcache %}
  <div class="scroller"><!-- this is for emulating position fixed of the nav -->
    <div class="scroller-inner">
    	{% block content %}
      {% endblock %}
    	{% block footer %}
      {% cache for 3 weeks %}
      <footer>
        <div class="container">
          <div class="row middle-xs">
            <div class="col-xs-7">
              <ul>
                <li>Social:</li>
                {% if siteInfo.facebook %}
                <li class="social"><a class="icon-icons_footer_fb" target="_blank" href="{{ siteInfo.facebook }}"></a></li>
                {% endif %}
                {% if siteInfo.instagram %}
                  <li class="social"><a class="icon-icons_footer_insta" target="_blank" href="{{ siteInfo.instagram }}"></a></li>
                {% endif %}
                {% if siteInfo.twitter %}
                  <li class="social"><a class="icon-icons_footer_twitter" target="_blank" href="{{ siteInfo.twitter }}"></a></li>
                {% endif %}
                {% if siteInfo.pinterest %}
                  <li class="social"><a class="icon-icons_footer_pinterest" target="_blank" href="{{ siteInfo.pinterest }}"></a></li>
                {% endif %}
              </ul>
            </div>
            <div class="col-xs-5">
              <b>©2017 Body by Robbie All Rights reserved.</b>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% endcache %}
  {% endblock %}
	{% block scripts_start %}{% endblock %}
    <!--  libraries downloaded from cdn -->
    {% cache for 3 weeks %}
    <!-- Google Tag Manager -->

    <!--  end: libraries downloaded from cdn -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/classie.js"></script>
    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/jquery.mobile.custom.min.js"></script>
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/main.js"></script>
  {% endcache %}
</body>
</html>