{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
{% set pages = craft.entries.section('pages') %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="description" value="{% block metaDescription %}{{ seo.metaDescription }}{% endblock %}">

  <meta name="google-site-verification" content="1Djs-1-zWByyLacEHYfM7DIZzBUBP8nK6zSQvDz5Bik" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ seo.metaTitle }}</title>

	<link rel="home" href="{{ siteUrl }}" />
  <link rel="shortcut icon" href="../favicon.ico">
  {% cache for 3 weeks %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/vendor/hamburgers/hamburgers.css" />
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}/js/vendor/modernizr.custom.js"></script>
	<link rel="stylesheet" href="{{ craft.config.environmentVariables['frontEndAssets'] }}css/site.css">
  {% endcache %}
	<!--[if lt IE 9]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KXRV4TT');</script>
  <!-- End Google Tag Manager -->
  </head>
<body>
{% cache for 3 weeks %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXRV4TT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <nav id="mp-menu" class="mp-menu">
    <div class="row middle-xs">
      <div class="col-sm-2 col-xs-6 xs-same">
        <a href="/"><img src="{{siteInfo.logo|first.url}}" alt="Body By Robbie"></a>
      </div>
      <div class="col-sm-10 col-xs-6 xs-same">
        <ul>
        {% block nav %}
          <li class="desktop-tablet-only"><a href="#about">About</a></li>
          <li class="desktop-tablet-only"><a href="#testimonials">Testimonials</a></li>
          <li class="desktop-tablet-only"><a href="#services">Workouts</a></li>
          <li class="desktop-tablet-only"><a href="#contact">Contact</a></li>
          <li class="text-right"><a href="/blog">Blog</a></li>
          <li class="desktop-tablet-only"><a class="btn modal-trigger">FREE SESSION</a></li>
        {% endblock %}
        </ul>
      </div>
    </div>
  </nav>
{% endcache %}
{% block scrollerClass %}
  <div class="scroller"><!-- this is for emulating position fixed of the nav -->
{% endblock %}
    <div class="scroller-inner">
    	{% block content %}
      {% endblock %}
    	{% block footer %}
      {% cache for 3 weeks %}
      <footer id="page-footer">
        <div class="container">
          <div class="row middle-xs">
            <div class="col-xs-7">
              <ul>
                <li class="desktop-tablet-only">Social:</li>
                <li class="social"><a target="_blank" href="{{ siteInfo.facebook }}">Facebook</a></li>
                <li class="social"><a target="_blank" href="{{ siteInfo.youtube }}">YouTube</a></li>
                <li class="social"><a target="_blank" href="{{ siteInfo.instagram }}">Instagram</a></li>
                <li class="social desktop-tablet-only"><a target="_blank" href="{{ siteInfo.linkedin }}">LinkedIn</a></li>
              </ul>
            </div>
            <div class="col-xs-5 copy-right">
              <b>©2017 Body by Robbie All Rights reserved.</b>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  {% endcache %}
  {% endblock %}
	{% block scripts_start %}{% endblock %}
    <!--  libraries downloaded from cdn -->
  {% cache for 3 weeks %}
    <script
      src="https://code.jquery.com/jquery-2.1.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/classie.js"></script>
    <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/vendor/jquery.mobile.custom.min.js"></script>
  <script src="{{ craft.config.environmentVariables['frontEndAssets'] }}js/main.js"></script>
  {% endcache %}
</body>
</html>